body {
	background-image: url("../images/map.jpg");
}

.header {
	background-color: white;
	z-index: 2;
    position: relative;
}

.header center{
	color: #DD697E;
    font-family: 'Quicksand', sans-serif;
    width: 67%;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 3rem;
    max-width: 86rem;
}

#logo {
	height:10rem;
	margin-right: 6rem;
}

#form-background {
	position: absolute;
    background-color: white;
    top: 0;
    z-index: 1;
    opacity: 0.6;
    width: 100%;
    bottom: 0;
}

.content {
    background-color: white;
    width: 100%;
    margin-top: 14rem;
    padding-bottom: 11rem;
    padding-top: 2rem;
    z-index: 2;
    position: relative;
}

.content .input-group{
    margin: 0 auto;
    width: 67%;
    max-width: 86rem;
}

.flex-container {
	display: flex;
	margin-top: 3rem;
}

.flex-container input {
	flex: 4;
	border-radius: 6px !important;
	height: 4rem;
}

.flex-container label {
	flex: 1;
	padding-top:1rem;
}

.content button {
    margin-top: 3rem;
    padding: 1.2rem;
    width: 12rem;
    position: absolute;
    right: 0;
}
