<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
 		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style type="text/css">
			.content {
				border: 1px black solid;
				padding: 40px 10px 0 10px;
				width:1000px;
				margin: 0 auto;
			}
			#navigationBar {
				border: 1px black solid;
				border-radius: 10px;
 				position: relative;
 				height: 100px;
 				margin-bottom: 20px;
 				padding: 5px 0 0 10px;
 				font-size: 1.5em;
			}
			#navigationBar ul {
				list-style-type: none;
				position: relative;
				top: 45px;
				left:100px;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
			#navigationBar li {
				float: left;
				padding-right: 10px;
				padding-left: 10px;
				margin: 0;
				border-right: 1px solid black;
			}
			#general {
				display: block;
			}
			#description {
				display: none;
			}
			#resume {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="content">
			<div id="header">
				<nav id="navigationBar">
					<ul>
						<li>Navigation: <a href="web address">Upload Form</a></li>
						<li><a href="web address">Document List</a></li>
						<li><a href="web address">User List</a></li>
					</ul>
				</nav>
			</div>
			{{{ body }}}
			<footer>
				</br>
				</br>
				</br>
				Evans & Chambers Technology, LLC © Copyright 2015
			</footer>
		</div>
	</body>
	
</html>