<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
 		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<div class="content">
			<div id="header">
				<nav id="navigationBar">
					<ul>
						<li>Navigation: <a href="/">Upload Form</a></li>
						<li><a href="/documents">Document List</a></li>
						<li><a href="/users">User List</a></li>
					</ul>
				</nav>
			</div>
			<div id="mainContent">
			{{{ body }}}
			</div>
			<footer>
				</br>
				</br>
				</br>
				Evans & Chambers Technology, LLC © Copyright 2015
			</footer>
		</div>
	</body>
	
</html>