<table border="3">
	<thead>
		<tr>
			<th>DocumentID</th>
         	<th>Source</th>
         	<th>Role</th>
            <th>Type</th>
         	<th>FileType</th>
        </tr>
    </thead>
    <tbody>
    {{#myDocuments}}
        <tr>
        {{#each this}}
            <td>{{this.S}}</td>
        {{/each}}
        </tr>
        <tr
    {{/myDocuments}}
    </tbody>			   
</table>

<script>
    console.log({{{myDocuments}}});
</script>