<table border="3">
	<thead>
		<tr>
			<th>Email</th>
         	<th>Date Created</th>
         	<th>User Role</th>
        </tr>
    </thead>
    <tbody>
    {{#myUsers}}
        <tr>
        {{#each this}}
            <td>{{this.S}}</td>
        {{/each}}
        </tr>
        <tr
    {{/myUsers}}
    </tbody>	
    			   
</table>
